/*stylesheet for about page*/

html{
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0%;
    overflow-x: hidden;
    /* text-align: center; */
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas: "navigation navigation navigation navigation" 
                        ". container container ."
}

.navigation {
    grid-area: navigation;
}

nav {
    margin: 1.4% auto auto 2%;
}

header li {
    display: inline;
}

header a {
    text-decoration: none;
    font-size: 1.2em;
    margin: 1.6%;
    font-family: 'Maven Pro', sans-serif;
    color: #bd0332;
}

header a:hover{
    color: rgb(77, 8, 104);
}

.container{
    /* border: 2px solid black; */
    text-align: center;
    grid-area: container;
    height: 100%;
    margin-top: 2%;
}

.container img{
    height: 5%;
}