/*stylesheet for contact.html*/

body {
    height: 100vh;
    width: 100vw;
    margin: 0%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-rows: 10% 90%;
    grid-template-areas: "navigation navigation navigation navigation" 
                        ". form form .";
    background: #432371;
    background: -webkit-linear-gradient(#ad6b3f59, #32086ecc);
    background: linear-gradient(#ad6b3f59, #32086ecc);
}

.navigation {
    grid-area: navigation;
    margin-bottom: 0;
}

nav {
    margin: 1.4% auto auto 2%;
}

header li {
    display: inline;
}

header a {
    text-decoration: none;
    font-size: 1.2em;
    margin: 1.6%;
    font-family: 'Maven Pro', sans-serif;
    color: #bd0332;
}

header a:hover{
    color: rgb(77, 8, 104);
}

.form{
    grid-area: form;
    margin: auto;
    margin-top: 7%;
    text-align: center;
}

.form form{
    /* background-color: rgba(179, 134, 252, 0.336); */
    background: -webkit-linear-gradient(#ad6b3f59, #32086ecc);
    background: linear-gradient(#ad6b3f59, #32086ecc);
    border-radius: 25%;
    padding: 6%;
}

.form input{
    margin-top: 4%;
    text-transform: uppercase;
    font-size: 1.2em;
    font-family: 'Montserrat Alternates', sans-serif;
}

.form textarea{
    margin-top: 4%;
    width: 75%;
    text-transform: uppercase;
    font-family: 'Montserrat Alternates', sans-serif;
}

.form h1{
    text-align: center;
    text-transform: uppercase;
    color: #21034b;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 2%;
    width: 100%;
    margin-top: 0;
}

.form button{
    border: none;
    height: 3em;
    width: 7em;
    font-size: 1em;
    cursor: pointer;
    background-color: #bd0332;
    color: white;
    text-transform: uppercase;
    font-family: 'Maven Pro', sans-serif;
    margin-top: 5%;
}

button:hover {
    background-color: #fc0643;
}