/*stylesheet for portfolio page*/

@media only screen and (max-width: 600px) {
    body{
        width: 100vw;
        height: 100vh;
    }

    .navigation a{
        font-size: 0.75em;
    }
    
    .gallery img {
        width: 50vw;
        border: 2px solid black;
        opacity: 0.8;
    }
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    grid-template-areas: "navigation" "gallery";
    background: #432371;
    background: -webkit-linear-gradient(#ad6b3f59, #32086ecc);
    background: linear-gradient(#ad6b3f59, #32086ecc);
    background-size: cover;
    margin-bottom: 10%;
}

.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 45% 45%;
    grid-template-areas: "navigation navigation navigation" ". galleryOne ." ". galleryTwo .";
}

.navigation {
    grid-area: navigation;
}

nav {
    margin: 1.4% auto auto 2%;
}

header li {
    display: inline;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin: 1.6%;
    font-family: 'Maven Pro', sans-serif;
}

header a:hover {
    color: #bd0332;
}

.gallery {
    grid-area: gallery;
    text-align: center;
}

.gallery h1 {
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #432371;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
}

.gallery img {
    height: 40%;
    width: 15%;
    object-fit: cover;
    border: 2px solid black;
    opacity: 0.8;
}

.gallery img:hover {
    opacity: 1;
}

.galleryOne {
    grid-area: galleryOne;
}

.galleryTwo {
    grid-area: galleryTwo;
}

.galleryThree {
    grid-area: galleryThree;
}