/*stylesheet for resume.html*/

html{
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas: "navigation navigation navigation navigation" 
                        ". container container ."
}

.navigation {
    grid-area: navigation;
    margin-bottom: 0;
}

nav {
    margin: 1.4% auto auto 2%;
}

header li {
    display: inline;
}

header a {
    text-decoration: none;
    font-size: 1.2em;
    margin: 1.6%;
    font-family: 'Maven Pro', sans-serif;
    color: #bd0332;
}

header a:hover{
    color: rgb(77, 8, 104);
}

.container{
    /* border: 2px solid black; */
    border-radius: 3%;
    grid-area: container;
    display: grid;
    grid-template-columns: 0.75fr 1.25fr;
    grid-template-rows: 0.5fr 1.5fr;
    grid-template-areas: "image intro"
                            "links info";
    background-color: #ca647e7c;
    height: 100%;
    margin-bottom: 6%;
    margin-top: 6%;
}

.intro{
    font-family: 'Montserrat Alternates', sans-serif;
    grid-area: intro;
    margin: 6% auto auto 2%;
    margin-bottom: 0;
}

.intro h1{
    font-size: 3em;
    margin: 0;
}

.intro hr{
    border-color: #bd0332;
    width: 500px;
}

.image{
    grid-area: image;
    background-color: #bd0332;
    border-top-left-radius: 5%;
}

.image img{
    height: 85%;
    width: 80%;
    margin-left: 10%;
    margin-top: 7%;
    border-radius: 5%;
    border: 4px solid white;
}

.links{
    grid-area: links;
    background-color: #bd0332;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    border-bottom-left-radius: 5%;
}

.links h2{
    margin-top: 15%;
}

.links p{
    margin-top: 5%;
}

.links .fa-linkedin-in{
    margin-top: 7%;
}

.links i{
    font-size: 1.4em;
}

.links a{
    color: white;
}

.links a:hover{
    color: #32086ecc;
}

.info{
    grid-area: info;
    margin-left: 2%;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-top: 4%;
}

.info h2{
    margin-top: 0%;
}

.info h3{
    font-size: 1em;
}

.info #skills{
    margin-top: 5%;
}