/*stylesheet for resume.html*/

body {
    height: 100%;
    width: 100%;
    margin: 0%;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 15% 85%;
    grid-template-areas: "navigation navigation navigation navigation" 
                        ". container container ."
}

.navigation {
    grid-area: navigation;
    margin-bottom: 0;
}

nav {
    margin: 1.4% auto auto 2%;
}

header li {
    display: inline;
}

header a {
    text-decoration: none;
    font-size: 1.2em;
    margin: 1.6%;
    font-family: 'Maven Pro', sans-serif;
    color: #bd0332;
}

header a:hover{
    color: rgb(77, 8, 104);
}

.container{
    /* border: 2px solid black; */
    border-radius: 3%;
    grid-area: container;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "image intro"
                            "links info";
    background-color: #ca647e7c;
}

.intro{
    font-family: 'Montserrat Alternates', sans-serif;
    grid-area: intro;
    margin: 7% auto auto 2%;
}

.intro h1{
    font-size: 3em;
    margin: 0;
}

.intro hr{
    border-color: #bd0332;
    width: 500px;
}

.image{
    grid-area: image;
    background-color: #bd0332;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.image img{
    height: 90%;
    width: 80%;
    margin-left: 10%;
    margin-top: 4%;
    border-radius: 5%;
    border: 4px solid white;
}

.links{
    grid-area: links;
    background-color: #bd0332;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
}

.info{
    grid-area: info;
    margin-left: 2%;
    font-family: 'Montserrat Alternates', sans-serif;
}

.info h3{
    font-size: 1em;
}